@font-face {
  font-family: "iconfont"; /* Project id 2787753 */
  src: url('//at.alicdn.com/t/font_2787753_t57ujdy8fsd.woff2?t=1630717291529') format('woff2'),
       url('//at.alicdn.com/t/font_2787753_t57ujdy8fsd.woff?t=1630717291529') format('woff'),
       url('//at.alicdn.com/t/font_2787753_t57ujdy8fsd.ttf?t=1630717291529') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hashtag:before {
  content: "\e67c";
}

.icon-pinglun:before {
  content: "\e6c8";
}

.icon-iconfront:before {
  content: "\e600";
}

.icon-pinglun1:before {
  content: "\e628";
}

.icon-pl:before {
  content: "\e602";
}

.icon-pinglun2:before {
  content: "\e79c";
}

.icon-dianzan:before {
  content: "\e65c";
}

.icon-dianzan1:before {
  content: "\e60a";
}

.icon-pinglun3:before {
  content: "\e72d";
}

.icon-dianzan2:before {
  content: "\e67b";
}

.icon-zuopintoupiao-:before {
  content: "\e689";
}

.icon-dianzan3:before {
  content: "\e8bc";
}

.icon-pinglun4:before {
  content: "\e616";
}

.icon-chat:before {
  content: "\e601";
}

.icon-dianzan11:before {
  content: "\e603";
}

.icon-dianzan4:before {
  content: "\e60b";
}

.icon-Group:before {
  content: "\e666";
}

.icon-dianzan5:before {
  content: "\e67f";
}

.icon-dianzan6:before {
  content: "\e70d";
}

.icon-dianzan7:before {
  content: "\e604";
}

.icon-pinglun5:before {
  content: "\e608";
}

.icon-pinglun6:before {
  content: "\e66c";
}

.icon-dianzan8:before {
  content: "\e605";
}

.icon-pinglun7:before {
  content: "\e632";
}

